@import "~bootstrap/scss/_functions";


@import "_variables";
@import "~bootstrap/scss/_mixins";
// @import "~bootstrap/scss/_print";
@import "~bootstrap/scss/_reboot";
@import "~bootstrap/scss/_type";
@import "~bootstrap/scss/_images";
// @import "~bootstrap/scss/_code";
@import "~bootstrap/scss/_grid";
@import "~bootstrap/scss/_tables";
@import "~bootstrap/scss/_forms";
@import "~bootstrap/scss/_buttons";
// @import "~bootstrap/scss/_transitions";
// @import "~bootstrap/scss/_dropdown";
@import "~bootstrap/scss/_button-group";
@import "~bootstrap/scss/_input-group";
@import "~bootstrap/scss/_custom-forms";
@import "~bootstrap/scss/_nav";
@import "~bootstrap/scss/_navbar";
@import "~bootstrap/scss/_card";
// @import "~bootstrap/scss/_breadcrumb";
// @import "~bootstrap/scss/_pagination";
// @import "~bootstrap/scss/_badge";
// @import "~bootstrap/scss/_jumbotron";
// @import "~bootstrap/scss/_alert";
// @import "~bootstrap/scss/_progress";
@import "~bootstrap/scss/_media";
@import "~bootstrap/scss/_list-group";
// @import "~bootstrap/scss/_close";
// @import "~bootstrap/scss/_modal";
// @import "~bootstrap/scss/_tooltip";
// @import "~bootstrap/scss/_popover";
// @import "~bootstrap/scss/_carousel";
@import "~bootstrap/scss/_utilities";




@import './logo.scss';

$color: rebeccapurple;

h1{
    color: $color;
}

p{
    color: lighten($color, 20%)
}